<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\WebConnectionWebServer.exe" arguments="--WebRoot C:\wwapps\Conf\DotnetCore\WebConnectionOnCore\SouthwestFoxDemo\web" 
      stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="WEBCONNECTION_WEBROOT" value="C:\wwapps\Conf\DotnetCore\WebConnectionOnCore\SouthwestFoxDemo\web" />
          <environmentVariable name="WEBCONNECTION_OPENBROWSER"  value="True" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: EF671F5C-94AA-4E56-8BFB-853CB2ADDA75-->